// FONTS
$gagalin: 'gagalin',
Impact,
sans-serif;
$lifehack: 'lifehack',
"Comic Sans MS",
sans-serif;
$ubuntu: 'ubuntu',
sans-serif;
// COLORS
$white: #fff;
$red: rgb(228, 80, 40);
$black: #2f3234;
$orange: #f9b43b;