@import '../css/normalize.css';
@import './abstracts/functions';
@import './abstracts/mixins';
@import './abstracts/variables';
@import './base/animations';
@import './base/base';
@import './base/typography';
@import './base/utilities';
// BLOCKS
@import './blocks/hero';
@import './blocks/header';
@import './blocks/best';
@import './blocks/team';
@import './blocks/slider';
@import './blocks/reviews';
@import './blocks/fixed-menu';
@import './blocks/form';
@import './blocks/map';
@import './blocks/footer';
// COMPONENTS
@import './components/button';