.btn,
.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  color: $white;
  font-size: 1.2rem;
  height: 3.5rem;
  width: 10rem;
  &_black {
    background: $black;
  }
  &_red {
    background: $red;
  }
}

.form__btn:last-child {
  text-transform: none;
}