.btn,
.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  color: $white;
  font-size: 1.2rem;
  height: 3.5rem;
  width: 10rem;
  outline: none;
  &_black {
    background: $black;
  }
  &_red {
    background: $red;
  }
}

.form__btn_lc {
  text-transform: none;
}

.btn_reviews {
  &::after {
    content: 'ПОДРОБНЕЕ';
  }
  @include phones() {
    font-size: 1.7rem;
    height: 4rem;
    padding: 1rem 1.4rem;
    width: 17rem;
    &::after {
      content: 'ЧИТАТЬ ОТЗЫВ';
      white-space: nowrap;
    }
  }
}