@import '../fonts/fonts.css';

.title {
  font-size: 7.2rem;
  font-family: $gagalin;
  &_mb_47 {
    margin-bottom: 4.7rem;
  }
  &_mb_20 {
    margin-bottom: 2rem;
  }
  &_color_orange {
    color: $orange;
  }
  &_color_black {
    color: $black;
  }
  &_color_white {
    color: $white;
  }
}

