.footer {
  position: absolute;
  width: 100%;
  height: 6rem;
  background: url('../img/bg/bg-order-main.png');
  display: flex;
  align-items: center;
}

.footer__container {
  width: 96rem;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__address {
  font-size: 1.4rem;
  font-family: $ubuntu;
  color: $white;
  margin-bottom: 7px;
}

.contacts__phone {
  font-size: 1.4rem;
  font-family: $ubuntu;
  width: 100%;
  color: $red;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.contacts__phone::before {
  content: '';
  background: url('../img/contact-phone.png') no-repeat;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 1rem;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.socials__list {
  display: flex;
  align-items: center;
}

.socials__item {
  width: 2rem;
  height: 2rem;
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.socials__link {
  display: block;
  width: auto;
  height: 100%;
  background: contain;
  filter: grayscale(100%);
}

.socials__link_vk {
  background: url('../img/icons/vk.svg');
}

.socials__link_fb {
  background: url('../img/icons/fb.svg');
}

.socials__link_ig {
  background: url('../img/icons/inst.svg');
}

.socials__link_twitter {
  background: url('../img/icons/twitter.svg');
}