.footer {
  position: absolute;
  width: 100%;
  height: 6rem;
  background: url('../img/bg/bg-order-main.png');
  display: flex;
  align-items: center;
  bottom: 0;
}

.footer__container {
  width: 96rem;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.contacts__address {
  font-size: 1.4rem;
  font-family: $ubuntu;
  color: $white;
  margin-bottom: 7px;
}

.contacts__phone {
  font-size: 1.4rem;
  font-family: $ubuntu;
  color: $red;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.contacts__phone-img {
  display: flex;
  align-items: center;
}

.contacts__phone-icon {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 1rem;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.socials__list {
  display: flex;
  align-items: center;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.socials__link {
  display: flex;
}

.socials__icon {
  fill: $white;
  fill-opacity: 0.3;
  transition: fill-opacity 0.2s;
  &_vk {
    width: 2.5rem;
    height: 1.4rem;
  }
  &_fb {
    width: 2rem;
    height: 2rem;
  }
  &_inst {
    width: 2rem;
    height: 2rem;
  }
  &_twitter {
    width: 2rem;
    height: 2rem;
  }
}

.socials__item:hover .socials__icon {
  fill-opacity: 1;
}

.socials__hidden {
  display: none;
}