.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
}

.logo__img {
  width: 9rem;
  height: 7rem;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.menu {
  @include tablets() {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  display: flex;
  align-items: center;
  &:first-child::before {
    display: none;
  }
  &::before {
    content: '';
    margin: 0 1rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: $white;
    display: inline-block;
  }
}

.menu__link {
  color: $white;
  font-family: $ubuntu;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.header__btn {
  margin-left: 1.5rem;
  @include tablets() {
    display: none;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  margin-left: 1.8rem;
}

.hamburger-line {
  width: 2rem;
  height: 0.3rem;
  background: #fff;
  border-radius: 2px;
  &:not(:last-child) {
    margin-bottom: 0.4rem;
  }
  display: none;
  @include tablets() {
    display: flex;
  }
}