.hero {
  background: url('../img/bg/bg-hero.png') center center / cover no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.hero__container .hero__content {
  align-self: center;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.7;
  @include tablets() {
    flex-direction: column;
    justify-content: center;
    align-items: center; // flex: 0.9;
    width: 50%;
  }
  @include phones() {
    padding-top: 4rem;
  }
}

.hero__content-img {
  position: relative;
  @include tablets() {
    margin-bottom: 10rem;
  }
  @include phones() {
    margin-bottom: 5rem;
  }
}

.hero__burger-img2 {
  position: relative;
  @include tablets() {
    height: 33rem;
    width: 37rem;
  }
}

.hero__burger-img {
  position: absolute;
  width: 44rem;
  height: 25rem;
  top: 5rem;
  left: -2rem;
  @include tablets() {
    width: 46rem;
    height: 20rem;
    top: 3rem;
    left: -6rem;
  }
}

.hero__content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7rem;
  margin-left: 1rem;
  @include tablets() {
    align-items: center;
  }
}

.hero__content-desc {
  font-size: 5.5rem;
  font-family: $lifehack;
  color: $white;
  @include tablets() {
    font-size: 7.2rem;
    text-align: center;
  }
  @include phones() {
    font-size: 6rem;
  }
}

.arrow__down {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.arrow__down-img {
  display: block;
  height: 1.7rem;
  width: 3.3rem;
}