.hero {
  background: url('../img/bg/bg-hero.png') center center / cover no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.7;
}

.hero__content-img {
  position: relative;
}

.hero__burger-img {
  position: absolute;
  width: 44rem;
  height: 25rem;
  top: 5rem;
  left: -2rem;
  &2 {
    position: relative;
  }
}

.hero__content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7rem;
  margin-left: 1rem;
}

.hero__content-desc {
  font-size: 5.5rem;
  font-family: $lifehack;
  color: $white;
}

.arrow__down {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.arrow__down-link {
  background: url('../img/arrow-scroll.png') center center / cover no-repeat;
  display: block;
  height: 1.7rem;
  width: 3.3rem;
}